<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <div class="p-5 border bg-white">
                    <h2 class="mb-5"> Todo list</h2>
                    <div class="add-items d-flex">
                        <input type="text" class="form-control todo-list-input mr-3" placeholder="Add new task?" id="item">
                        <button class="add btn btn-danger todo-list-add-btn" id="add">Add</button>
                    </div>
                    <div class="list-wrapper">
                        <div class="align-items-center d-flex border-bottom flex-md-row flex-column-reverse  justify-content-between">
                            <h2 class="p-4 m-3 text-muted">To Do</h2>
                            <button onclick="sortList()" class="btn btn-info">Sort By ID</button>
                        </div>
                        <ul class="d-flex flex-column todo-list px-3 py-3" id="todo">
                            <% todos.forEach(function(todo){ 
                                if(!todo.done){ %>
                                    <%- include('todo-item', { todo: todo }); %>
                                <% }
                            }); %>
                        </ul>
                        <div class="align-items-center d-flex border-bottom flex-md-row flex-column-reverse justify-content-between mt-4 mt-md-0">
                            <h2 class="p-4 m-3 text-muted">Completed</h2>
                            <button onclick="sortCompleteList()" class="btn btn-success">Sort By ID</button>
                        </div>
                        <ul class="d-flex flex-column todo-list px-3 py-3" id="completed">
                            <% todos.forEach(function(todo){ 
                                if(todo.done){ %>
                                    <%- include('todo-item', { todo: todo }); %>
                                <% }
                            }); %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="script.js"></script>
</body>

</html>